<form>
    <div>
        <h3>{{localize "MASKS-SHEETS.DIALOG.Name"}}</h3>
        <input type="text" name="custom-resource-name" value="{{resourceName}}" />
        <hr />
        <h3>{{localize "MASKS-SHEETS.DIALOG.Type"}}
            <select name="custom-resource-type" {{disabled disabled}}>
                {{selectOptions resourceTypes selected=resourceType localize=true}}
            </select>
        </h3>
        {{#if showResourceLimit }}
        <hr />
        <h3>{{localize "MASKS-SHEETS.DIALOG.Limit"}}</h3>
        <label>{{localize "MASKS-SHEETS.DIALOG.Limit-Hint"}}</label>
        <input type="number" name="custom-resource-limit" value="{{resourceLimit}}" />
        {{/if}}
    </div>
    <footer class="flexrow">
        <button type="button" name="cancel" data-action="cancel" alt="{{localize " MASKS-SHEETS.Cancel"}}"
            title="{{localize "MASKS-SHEETS.Cancel"}}"><i class="far fa-times-circle"></i>{{localize
            "MASKS-SHEETS.Cancel"}}</button>
        <button type="button" name="submit" data-action="submit" alt="{{localize " MASKS-SHEETS.Submit"}}"
            title="{{localize "MASKS-SHEETS.Submit"}}"><i class="fas fa-check"></i>{{localize
            "MASKS-SHEETS.Submit"}}</button>
    </footer>
</form>